<nav class="navbar animated fadeIn">
    <div class="navbar-brand">
        <a class="navbar-item" href="http://bulma.io">
            <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>
        <div class="navbar-burger" (click)="menu.open()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a  class="navbar-item" *ngFor="let item of menu.options" routerLink="{{item.router}}">
                <span class="icon">
                   <i class="{{item.icon}}"></i>
                </span> 
                {{item.text}}
            </a>            
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <app-searchbar></app-searchbar>                
            </div>
            <a class="navbar-item" (click)="clear()">
                <span class="icon">
                    <i class="fa fa-shopping-cart"></i>
                </span>
                <div class="badge">
                    <div class="count">
                        {{count}}
                    </div>
                </div>
            </a>
        </div>
    </div>
</nav>
