<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">      
    </figure>        
  </div>  
  <div class="card-content">
    <div class="media-content">
      <p class="title is-4">Title</p>      
      <p class="subtitle is-6">Subtitle</p>
    </div>    
    <div class="content">
      Some Text    
    </div>
  </div>  
  <footer class="card-footer">
    <a class="card-footer-item">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      More Information
    </a>    
    <a class="card-footer-item">
      <span class="icon">
        <i class="fa fa-cart-plus"></i>
      </span>
      Buy
    </a>
  </footer>
</div>