<div class="columns is-multiline">
  <div class="column is-one-quarter" *ngFor="let product of product.productList">
    <div class="card" >
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{product.picture}}" alt="Image">      
        </figure>        
      </div>  
      <div class="card-content">
        <div class="media-content">
          <div class="columns">
            <div class="column">
              <p class="title">{{product.description}}</p>      
              <p *ngIf="product.category" class="subtitle is-6">{{product.category}}</p>
            </div>        
          </div>      
        </div>    
        <div class="content">
          {{product.details}}    
        </div>
        <span class="tag is-warning">{{product.price | number:'1.2-2' | currency:'BRL':true}}</span>
      </div>  
      <footer class="card-footer">
        <a class="card-footer-item">
          <span class="icon">
            <i class="fa fa-info-circle"></i>
          </span>
          More Information
        </a>    
        <a (click)="buyItem(product)" class="card-footer-item">
          <span class="icon">
            <i class="fa fa-cart-plus"></i>
          </span>
          Buy
        </a>
      </footer>
    </div>
  </div>
</div>
