<div class="menu is-fullheight is-hidden is-hidden-desktop animated">
  <div class="menu-header">
    <a class="button is-white" (click)="menu.close()">
      <span class="icon">
        <i class="fa fa-close"></i>
      </span>
    </a>
    <div class="avatar">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/b4/77/db/b477dbdb885d220c5c854792c7301bd4--silhouette-images-silhouette-files.jpg" class="avatar-img">   
    </div>
  </div>
  <div class="menu-body">
     <ul>
        <li *ngFor="let option of menu.options">
          <a class="columns is-mobile" [routerLink]="option.router" (click)="menu.close()">
            <div class="column has-text-right is-one-quarter">
              <i class="{{ option.icon }}"></i>
            </div>
            <div class="column">
              <strong>
                {{ option.text }}
              </strong>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="/cart" class="columns is-mobile" (click)="menu.close()">
            <div class="column has-text-right is-one-quarter">
              <i class="fa fa-shopping-cart"></i>
            </div>  
            <div class="column">
              <strong>
                Cart
              </strong>              
            </div>          
            <div class="column">
              <span class="tag is-danger" *ngIf="cart.cartList.length > 0">
                {{cart.cartList.length}}
              </span>              
            </div>
            
          </a>
        </li>
      </ul> 
  </div>
  
</div>